---
import "@/assets/styles/mo_styles.css";
import "@/assets/styles/styles.css";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { ViewTransitions } from "astro:transitions";
type Props = {
	title: string;
	description?: string;
};

const { title, description } = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link
			rel="icon"
			type="image/svg+xml"
			href="/favicon.svg"
		/>
		<meta
			name="viewport"
			content="width=device-width"
		/>
		<meta
			name="generator"
			content={Astro.generator}
		/>

		{
			Astro.url.pathname === "/" ? (
				<>
					<meta
						name="title"
						content="Mobiliser's Toolkit"
					/>
					<meta
						property="og:title"
						content="Mobiliser's Toolkit"
					/>
				</>
			) : (
				<>
					<meta
						name="title"
						content={`${title} - Mobiliser's Toolkit`}
					/>
					<meta
						property="og:title"
						content={`${title} - Mobiliser's Toolkit`}
					/>
				</>
			)
		}

		<meta
			name="description"
			content={description}
		/>

		<meta
			property="og:description"
			content={description}
		/>

		{
			Astro.url.pathname === "/" ? (
				<title>Mobiliser's Toolkit</title>
			) : (
				<title>{title}: Mobiliser's Toolkit</title>
			)
		}
		<!-- <link
			rel="stylesheet"
			href="https://assets.more-onion.com/ist/v1/impact-stack.css?rjzina"
		/> -->
		<ViewTransitions />

		<style>
			body {
				display: grid;
				grid-template-rows: auto 1fr auto;
				min-height: 100vh;
				padding: 1rem 2rem;
			}

			main {
				padding-top: 2rem;
			}
		</style>
	</head>
	<body>
		<Header title={title} />

		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>
