---
import "@/assets/styles/ist_brand_styles.css";
import "@/assets/styles/styles.css";

import Footer from "@/components/Footer.astro";
import Header from "@/components/Header.astro";
import { ClientRouter } from "astro:transitions";
type Props = {
  title: string;
  description?: string;
  socialImageFilename: string;
};

const { title, description, socialImageFilename } = Astro.props;

let pageTitle = "";

if (Astro.url.pathname === "/") {
  pageTitle = title;
} else if (Astro.url.pathname !== "") {
  pageTitle = `${title}: Mobiliser's Toolkit`;
}

const siteURL = "https://mobilisers-toolkit.netlify.app";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/png" href="/ingra_logo_pink_square.png" />
    <meta name="generator" content={Astro.generator} />

    <meta name="description" content={description} />

    <meta property="og:description" content={description} />

    <meta name="twitter:description" content={description} />

    <meta property="og:image" content={`${siteURL}/${socialImageFilename}`} />
    <meta name="twitter:image" content={`${siteURL}/${socialImageFilename}`} />

    <meta name="twitter:card" content="summary_large_image" />

    <title>{pageTitle}</title>
    <meta name="title" content={pageTitle} />
    <meta property="og:title" content={pageTitle} />

    <meta name="twitter:title" content={pageTitle} />

    <ClientRouter />

    <style>
      body {
        display: grid;
        grid-template-rows: auto 1fr auto;
        min-height: 100vh;
        padding: 1rem;
        margin: 0 auto;
        width: 100%;
        max-width: 120ch;
      }

      main {
        padding-top: 2rem;
      }
    </style>
  </head>
  <body>
    <Header title={title} />

    <main>
      <slot />
    </main>
    <Footer />
  </body>
</html>
